<div class="box mb-3">
  <div class="has-text-info">
    <div class="has-text-weight-bold">Please do the following</div>
  </div>
  <ul>
    <li>1. Login to LinkedIn account and export the cookies (I can not suggest any tools to export browser cookie)</li>
    <li>2. Edit BOTEngine/cookies.js paste your cookies</li>
  </ul>
  <div class="m-2">
    <p class="has-text-warning-dark">
      Note: Make sure that you have setup your profile correctly e.g. Resume should be uploaded.
    </p>
  </div>
</div>
