<app-guides></app-guides>
<div class="container is-fluid mt-5">
  <div class="columns is-centered p-auto">
    <div>
      <div class="has-text-centered has-text-danger">

        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="didUserSayYes">
          {{ aknowlegdement }}
        </label>
      </div>
      <div *ngIf="didUserSayYes">
        <div class="column is-three-quarters">
          <div class="card">
            <div *ngIf="okStatus">
              <h3 class="has-text-primary">Wait For BOT to do the work!!! :)</h3>
            </div>
            <div class="card-content is-centered">
              <div class="is-centered">
                <h3 class="is-centered text has-text-warning-dark">
                  User Email and User Password is not needed if you have exported cookies.txt file
                </h3>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input" type="email" placeholder="LinkedIn User Email" #email>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input" type="password" placeholder="LinkedIn Password" #password>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label for="number">Phone Number* (is required!!)</label>
                  <input class="input" #phoneNumber type="number" placeholder="Phone Number*" id="number" [(ngModel)]="phoneNumberRequired">
                </p>
              </div>
              <div class="mt-2">
                <div class="field">
                  <div class="control">
                    <label for="jobNames">Job Name Must be Separated by ; (is Required)</label>
                    <input class="input" #jobNames id="jobNames" type="text"
                           placeholder="e.g. Software Engineer;Software Engineer II" [(ngModel)]="jobNameRequired">
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <button class="button is-success" [disabled]="!phoneNumberRequired || !jobNameRequired"
                        (click)="handleUserCredentials(email.value, password.value, jobNames.value, phoneNumber.value)">
                  Start Applying
                </button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
