<div class="container is-fluid mt-5">
  <div class="columns is-centered p-auto">
    <div class="column is-three-quarters">
      <div class="card">
        <div *ngIf="okStatus">
          <h3 class="has-text-primary">Wait For BOT to do the work!!! :)</h3>
        </div>
        <div class="card-content is-centered">
          <div class="is-centered">
            <h3 class="text-primary is-centered">
              Information Needed from you......
            </h3>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="email" placeholder="LinkedIn User Email" #email>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="password" placeholder="LinkedIn Password" #password>
            </p>
          </div>
          <div class="mt-2">
            <div class="field">
              <div class="control">
                <label for="jobNames">Job Name Must be Separated by ;</label>
                <input class="input" #jobNames id="jobNames" type="text" placeholder="e.g. Software Engineer;Software Engineer II">
              </div>
            </div>
          </div>
          <div class="mt-2">
            <button class="button is-success" (click)="handleUserCredentials(email.value, password.value, jobNames.value)">
              Start Applying
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
